<h2>Conversor temperaturas</h2>
<div>
    <input (keyup)="recalcular()" (change)="recalcular()" type="number" [(ngModel)]="temperatura1"/>
    <select (change)="recalcular()" [(ngModel)]="medida1">
        <option>celsius</option>
        <option>farenheit</option>
        <option>kelvin</option>
    </select>
</div>
<div>
    <input disabled [(ngModel)]="temperatura2"/>
    <select (change)="recalcular()" [(ngModel)]="medida2">
        <option>celsius</option>
        <option>farenheit</option>
        <option>kelvin</option>
    </select>
</div>
