<h2>Vending Machine</h2>
<div>
    <table>
        <tr>
            <th>Code</th>
            <th>Product</th>
            <th>Price</th>
            <th>Stock</th>
        </tr>
        <tr [ngClass]="{'agotado': hueco.stock===0}" *ngFor="let hueco of machine">
            <td>{{hueco.code}}</td>
            <td>{{hueco.producto.nombre}}</td>
            <td>{{hueco.producto.precio}}</td>
            <td>{{hueco.stock}}</td>
        </tr>
    </table>
</div>
<input type="text" [(ngModel)]="code">
<button (click)="comprar()">Comprar</button>


