<h2>Ejemplos de pipes</h2>
<p>{{nombre}}</p>
<p>{{nombre | uppercase}}</p>
<p>{{nombre | lowercase}}</p>
<p>{{titulo | titlecase}}</p>
<p>{{fecha1 | date:'dd/MM/yyyy'}}</p>
<p>{{fecha2 | date:'dd/MM/yyyy'}}</p>
<p>{{fecha1 | date:'HH:mm:ss'}}</p>
<p>{{importe | currency:'USD'}}</p>
<p>{{importe | currency:'EUR'}}</p>
<h2>Pipes personalizados</h2>
<p>{{nombre | charcounter}}</p>
<p>{{(titulo | charcounter) + 1000 }}</p>
<p>{{titulo | titlecase | reverse}}</p>
<table>
    <tr>
        <td>{{fecha_0 | date:'dd/MM/yyyy'}}</td>
        <td>{{fecha_0 | trimestre}}</td>
    </tr>
    <tr>
        <td>{{fecha_1 | date:'dd/MM/yyyy'}}</td>
        <td>{{fecha_1 | trimestre}}</td>
    </tr>
    <tr>
        <td>{{fecha_2 | date:'dd/MM/yyyy'}}</td>
        <td>{{fecha_2 | trimestre}}</td>
    </tr>
    <tr>
        <td>{{fecha_3 | date:'dd/MM/yyyy'}}</td>
        <td>{{fecha_3 | trimestre}}</td>
    </tr>
    <tr>
        <td>{{fecha_4 | date:'dd/MM/yyyy'}}</td>
        <td>{{fecha_4 | trimestre}}</td>
    </tr>
    <tr>
        <td>{{fecha_5 | date:'dd/MM/yyyy'}}</td>
        <td>{{fecha_5 | trimestre}}</td>
    </tr>
    <tr>
        <td>{{fecha_6 | date:'dd/MM/yyyy'}}</td>
        <td>{{fecha_6 | trimestre}}</td>
    </tr>
    <tr>
        <td>{{fecha_7 | date:'dd/MM/yyyy'}}</td>
        <td>{{fecha_7 | trimestre}}</td>
    </tr>
    <tr>
        <td>{{fecha_8 | date:'dd/MM/yyyy'}}</td>
        <td>{{fecha_8 | trimestre}}</td>
    </tr>
    <tr>
        <td>{{fecha_9 | date:'dd/MM/yyyy'}}</td>
        <td>{{fecha_9 | trimestre}}</td>
    </tr>
    <tr>
        <td>{{fecha_10 | date:'dd/MM/yyyy'}}</td>
        <td>{{fecha_10 | trimestre}}</td>
    </tr>
    <tr>
        <td>{{fecha_11 | date:'dd/MM/yyyy'}}</td>
        <td>{{fecha_11 | trimestre}}</td>
    </tr>
</table>
